# Dependencias
node_modules/

# Variables de entorno
.env
.env.local

# Elastic Beanstalk
.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*